.blog {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__title {
    font-size: 1.5rem;
    text-decoration: underline;
    text-underline-offset: 0.8rem;
  }

  &__posts {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    list-style-type: decimal;
    list-style-position: inside;
  }

  &__post {
    color: #5f5f5f;
    transition: 0.3s;

    &:hover {
      color: black;
    }
  }

  &__A {
    text-decoration: none;
    color: inherit;
  }
}
